numpy
transformers
sentence-transformers
torch
tqdm
tabulate
scipy
evaluate
datasets
pandas
rouge_score
bert_score
git+https://github.com/google-research/bleurt.git
pyemd
git+https://github.com/AIPHES/emnlp19-moverscore.git
spacy
en-core-web-lg
pytorch-pretrained-bert
pytorch-transformers>=1.1.0