numpy
transformers
sentence-transformers
torch
tqdm
tabulate
scipy
evaluate
pandas
rouge_score
bert_score
git+https://github.com/google-research/bleurt.git
pyemd
git+https://github.com/AIPHES/emnlp19-moverscore.git
